.techtag{
	display: grid;
	justify-content: center;
}

.techtag-content{
	display: grid;
	align-content: center;
	margin-top: 10px;
	grid-template-columns: 100px 100px 100px;
	grid-template-rows: auto;
	column-gap: 20px;
}

.techtag-title{
	display: flex;
	justify-content: center;
}